// https://coolors.co/image-picker

// https://colordesigner.io/color-palette-from-image
$pallet1: #223038;
$pallet2: #D33E3B;
$pallet3: #FAC58F;
$pallet4: #1BDFE0;
$pallet5: #16949C;
$pallet6: #157277;
$pallet7: #375464;